<div class="card-columns">
  <div class="card">
    <div class="card-header">H9Bus</div>
    <div class="card-body">
      <div class="row card-text">
        <div class="col-sm-5">Version:</div>
        <div class="col" id="h9bus_version">-</div>
      </div>
      <div class="row">
        <div class="col-sm-5">Uptime:</div>
        <div class="col" id="h9bus_uptime">-</div>
      </div>
      <div class="row">
        <div class="col-sm-5">Connected clients:</div>
        <div class="col" id="h9bus_coneccted_clients">-</div>
      </div>
      <div id="h9bus_endpoint"></div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">H9d</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">Version:</div>
        <div class="col" id="h9d_version">-</div>
      </div>
      <div class="row">
        <div class="col-sm-5">Uptime:</div>
        <div class="col" id="h9d_uptime">-</div>
      </div>
      <div class="row">
        <div class="col-sm-5">Connected clients:</div>
        <div class="col" id="h9d_coneccted_clients">-</div>
      </div>
      <div class="row">
        <div class="col-sm-5">Active devices:</div>
        <div class="col" id="h9d_active_devices">-</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">H9web</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">Version:</div>
<!--        <div class="col">{% from h9web._version import __version__ %}{{ __version__ }}</div>-->
      </div>
    </div>
  </div>
</div>
