<div class="card mb-2 p-3 shadow-sm">
  <form id="sendframe_form">
    <div class="row align-items-center justify-content-center">
      <div class="col col-auto">
        <label for="inputPriority">Priority</label>
        <select [(ngModel)]="frame.priority" id="inputPriority" name="priority" size="1"
                class="form-control custom-select">
          <option *ngFor="let p of Priority" [ngValue]="p.id">{{p.name}}</option>
        </select>
      </div>
      <div class="col col-auto">
        <label for="inputType">Type</label>
        <select [(ngModel)]="frame.type" id="inputType" name="type" class="form-control custom-select">
          <option *ngFor="let t of Type" [ngValue]="t.id">{{t.name}}</option>
        </select>
      </div>
      <div class="col col-auto">
        <label for="inputSeqnum">Seqnum</label>
        <input [(ngModel)]="frame.seqnum" type="number" name="seqnum" class="form-control" id="inputSeqnum" min="0"
               max="31" size="2">
      </div>
      <div class="col col-auto">
        <label for="inputSource">Source</label>
        <input [(ngModel)]="frame.source_id" type="number" name="source" class="form-control" id="inputSource" min="0"
               max="511" size="3"
               value="0">
      </div>
      <div class="col col-auto">
        <label for="inputDestination">Destination</label>
        <input [(ngModel)]="frame.destination_id" type="number" name="destination" class="form-control"
               id="inputDestination" min="0" max="511"
               size="3" value="0">
      </div>
      <div class="col col-auto">
        <label for="inputData">Data</label>
        <fieldset id="inputData">
          <div class="input-group">
            <input [(ngModel)]="frame.data[0]" name="data[0]" type="text" class="form-control" size="2" maxlength="2"
                   placeholder="">
            <input [(ngModel)]="frame.data[1]" name="data[1]" type="text" class="form-control" size="2" maxlength="2"
                   placeholder="">
            <input [(ngModel)]="frame.data[2]" name="data[2]" type="text" class="form-control" size="2" maxlength="2"
                   placeholder="">
            <input [(ngModel)]="frame.data[3]" name="data[3]" type="text" class="form-control" size="2" maxlength="2"
                   placeholder="">
            <input [(ngModel)]="frame.data[4]" name="data[4]" type="text" class="form-control" size="2" maxlength="2"
                   placeholder="">
            <input [(ngModel)]="frame.data[5]" name="data[5]" type="text" class="form-control" size="2" maxlength="2"
                   placeholder="">
            <input [(ngModel)]="frame.data[6]" name="data[6]" type="text" class="form-control" size="2" maxlength="2"
                   placeholder="">
            <input [(ngModel)]="frame.data[7]" name="data[7]" type="text" class="form-control" size="2" maxlength="2"
                   placeholder="">
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row justify-content-end mt-2">
<!--      <div class="col"></div>-->
      <div class="col col-auto">
        <!--      {% module xsrf_form_html() %}-->
        <button (click)="send_frame(frame)" id="sendframe_button" type="submit" class="btn btn-primary mb-2">Send
          frame
        </button>
      </div>
    </div>
  </form>
</div>
