<div class="card-columns">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">Antenna switch</div>
                <div class="col">
                    <div class="float-right">#8</div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col"><button id="antenna-switch-btn1" type="button" class="btn btn-outline-info fast-transition">1</button></div>
                <div class="col"><button id="antenna-switch-btn2" type="button" class="btn btn-outline-info fast-transition">2</button></div>
                <div class="col"><button id="antenna-switch-btn3" type="button" class="btn btn-outline-info fast-transition">3</button></div>
                <div class="col"><button id="antenna-switch-btn4" type="button" class="btn btn-outline-info fast-transition">4</button></div>
                <div class="col"><button id="antenna-switch-btn5" type="button" class="btn btn-outline-info fast-transition">5</button></div>
                <div class="col"><button id="antenna-switch-btn6" type="button" class="btn btn-outline-info fast-transition">6</button></div>
                <div class="col"><button id="antenna-switch-btn7" type="button" class="btn btn-outline-info fast-transition">7</button></div>
                <div class="col"><button id="antenna-switch-btn8" type="button" class="btn btn-outline-info fast-transition">8</button></div>
            </div>
        </div>
    </div>
</div>
