<div class="container-fluid">
<div class="row col">
    <div class="col-4 ">
        <button id="devices-list-refresh-button" type="button" class="btn btn-outline-info">
            <svg class="bi bl" fill="currentColor">
                <use xlink:href="static/icons/bootstrap-icons.svg#arrow-repeat"/>
            </svg> Refresh
        </button>
        <ul id="devices-list" class="list-group">
            <li class="list-group-item">Empty</li>
        </ul>
    </div>
    <div class="col-8">
        Device info
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th class="col-1" scope="col">#</th>
                <th class="col-5" scope="col">Name</th>
                <th class="col-1" scope="col">Size [bits]</th>
                <th class="col-1" scope="col">Type</th>
                <th class="col-2" scope="col">Value</th>
                <th class="col-2" scope="col">Action</th>
            </tr>
            </thead>
            <tbody id="register-list">
                <tr>
                    <th scope="row">1</th>
                    <td>?</td>
                    <td>16</td>
                    <td>uint</td>
                    <td><input type="text"/></td>
                    <td><button type="button" class="btn btn-outline-info">Read</button><button type="button" class="btn btn-outline-info">Write</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>