<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title> H9 </title>
    <link href="static/img/favicon.png" rel="icon" type="image/png">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/xterm.css" rel="stylesheet" type="text/css"/>
    <style>
        #terminal-dragbar {
            cursor: row-resize;
        }
    </style>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light justify-content-between">
        <div class="container m-0 p-0 justify-content-start">
            <a class="navbar-brand" href="#">H9</a>
            <ul class="navbar-nav nav">
                <li class="nav-item">
                    <a class="nav-link" href="#dashboard" data-toggle="tab"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#rawframe" data-toggle="tab"><i class="fas fa-tools"></i> Raw frame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#settings" data-toggle="tab"><i class="fas fa-cogs"></i> Settings</a>
                </li>
            </ul>
        </div>
        <form id="connect" action="" method="post" enctype="multipart/form-data" {%if debug%} novalidate{%end%}
              class="form-inline">
            <input type="hidden" id="term" name="term" value="xterm-256color">
            {% module xsrf_form_html() %}
            <button type="submit" class="btn btn-outline-info"><i class="fas fa-terminal"></i> CLI</button>
        </form>
    </nav>
</header>
<main class="container-fluid flex-fill d-flex flex-column p-0">
    <div class="row no-gutters bg-light text-dark flex-fill">
        <div id="main-container" class="col d-flex justify-content-center align-items-center">
            <div class="tab-content">
                <div class="tab-pane" id="dashboard">
                    <p>Dashboard</p>
                </div>
                <div class="tab-pane show active" id="rawframe">
                    <ul id="event"></ul>
                </div>
                <div class="tab-pane" id="settings">
                    <p>Settings tab content ...</p>
                </div>
            </div>
        </div>
    </div>
    <div id="terminal-dragbar" class="row no-gutters bg-dark">
        <div class="col"></div>
    </div>
    <div class="row no-gutters bg-secondary">
        <div class="col justify-content-center align-items-center">
            <div id="terminal-container"></div>
        </div>
    </div>
</main>
<footer class="row no-gutters bg-dark text-light">
    <div class="col d-flex justify-content-center align-items-center">
        Copyright :)
    </div>
</footer>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/xterm.js"></script>
<script src="static/js/xterm-addon-fit.js"></script>
<script src="https://kit.fontawesome.com/ca82fc5857.js" crossorigin="anonymous"></script>
<script src="static/js/main.js"></script>
<script>
    source = new EventSource("http://127.0.0.1:8888/events");
    source.onmessage = function (event) {
        var ul = document.getElementById("event");
        var li = document.createElement("li");
        var tmp_json = JSON.parse(event.data);
        console.log(tmp_json);
        li.appendChild(document.createTextNode(JSON.stringify(tmp_json.data)));
        li.className = "list-group-item";
        ul.appendChild(li);
    };
</script>
</body>
</html>
