<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>H9</title>
    <link href="static/img/favicon.png" rel="icon" type="image/png">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/xterm.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/h9web.css" rel="stylesheet" type="text/css"/>
    <style>
        #terminal-dragbar {
            cursor: row-resize;
        }
    </style>
</head>
<body class="d-flex flex-column overflow-hidden h-100">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light p-2">
        <div class="container flex-row m-0 p-0 justify-content-start col">
            <a class="navbar-brand" href="/"><img src="static/img/logo.png"></a>
            <ul class="navbar-nav nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#dashboard" data-toggle="tab">
                        <svg class="bi bl" fill="currentColor">
                            <use xlink:href="static/icons/bootstrap-icons.svg#grid-3x3-gap-fill"/>
                        </svg> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#devices" data-toggle="tab">
                        <svg class="bi bl" fill="currentColor">
                            <use xlink:href="static/icons/bootstrap-icons.svg#view-stacked"/>
                        </svg> Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rawframe" data-toggle="tab">
                        <svg class="bi bl" fill="currentColor">
                            <use xlink:href="static/icons/bootstrap-icons.svg#tools"/>
                        </svg> Raw frame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#stats" data-toggle="tab">
                        <svg class="bi bl" fill="currentColor">
                            <use xlink:href="static/icons/bootstrap-icons.svg#bar-chart-fill"/>
                        </svg> Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#settings" data-toggle="tab">
                        <svg class="bi bl" fill="currentColor">
                            <use xlink:href="static/icons/bootstrap-icons.svg#gear-fill"/>
                        </svg> Settings</a>
                </li>
            </ul>
        </div>
        <button id="cli-button" type="button" class="btn btn-outline-info mr-1">
            <svg class="bi bl" fill="currentColor">
                <use xlink:href="static/icons/bootstrap-icons.svg#terminal"/>
            </svg> CLI
        </button>
        <a href="/logout" class="btn btn-outline-info ml-1">
            <svg class="bi bl" fill="currentColor">
                <use xlink:href="static/icons/bootstrap-icons.svg#box-arrow-right"/>
            </svg>
        </a>
    </nav>
</header>
<main class="flex-grow-1 overflow-auto">
    <div class="col d-flex justify-content-center overflow-auto p-0">
        <div class="tab-content p-2 container-fluid">
            <div class="tab-pane show active" id="dashboard">
                {% module Template('dashboard_tab.html') %}
            </div>
            <div class="tab-pane" id="rawframe">
                {% module Template('rawframe_tab.html') %}
            </div>
            <div class="tab-pane " id="devices">
                {% module Template('devices_tab.html') %}
            </div>
            <div class="tab-pane" id="stats">
                {% module Template('stats_tab.html') %}
            </div>
            <div class="tab-pane" id="settings">
                {% module Template('settings_tab.html') %}
            </div>
        </div>
    </div>
    <div id="modal" class="modal fade right" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-side modal-bottom-right" role="document">
            <div class="modal-content">
                <div id="log" class="modal-body">
                    <!--<div class="alert alert-warning" role="alert">
                        Read timeout
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="flex-grow-0 flex-shrink-1 bg-dark text-light">
    <div id="terminal-dragbar" class="row">
        <div class="col"></div>
    </div>
    <div class="row bg-secondary">
        <div id="terminal-container" class="col"></div>
    </div>
    <div class="row">
        <div class="container-fluid d-flex justify-content-between">
            <div class="ml-2"></div>
            <div class="d-flex justify-content-center align-items-center">
                Copyright :)
            </div>
            <div class="d-flex justify-content-end align-items-center mr-2">
                <svg id="cli-indicator" class="bi invisible" fill="currentColor">
                    <title>CLI connected</title>
                    <use xlink:href="static/icons/bootstrap-icons.svg#terminal"/>
                </svg>
                <svg id="sse-indicator" class="bi invisible" fill="currentColor">
                    <title>SSE connected</title>
                    <use xlink:href="static/icons/bootstrap-icons.svg#plug-fill"/>
                </svg>
            </div>
        </div>
    </div>
</footer>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.serialize-object.min.js"></script>
<!--<script src="static/js/popper.min.js"></script>-->
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/xterm.js"></script>
<script src="static/js/xterm-addon-fit.js"></script>
<script src="static/js/eventsmgr.js"></script>
<script src="static/js/cli.js"></script>
<script src="static/js/dashboard_tab.js"></script>
<script src="static/js/devices_tab.js"></script>
<script src="static/js/rawframe_tab.js"></script>
<script src="static/js/stats_tab.js"></script>
</body>
</html>
