<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>H9</title>
    <link href="static/img/favicon.png" rel="icon" type="image/png">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/xterm.css" rel="stylesheet" type="text/css"/>
    <style>
        #terminal-dragbar {
            cursor: row-resize;
        }
    </style>
</head>
<body class="d-flex flex-column overflow-hidden h-100">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light p-2">
        <div class="container flex-row m-0 p-0 justify-content-start col">
            <a class="navbar-brand" href="#">H9</a>
            <ul class="navbar-nav nav">
                <li class="nav-item">
                    <a class="nav-link" href="#dashboard" data-toggle="tab"><i class="fas fa-tachometer-alt"></i>
                        Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#rawframe" data-toggle="tab"><i class="fas fa-tools"></i> Raw frame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#settings" data-toggle="tab"><i class="fas fa-cogs"></i> Settings</a>
                </li>
            </ul>
        </div>
        <button id="cli-button" type="button" class="btn btn-outline-info"><i class="fas fa-terminal"></i> CLI</button>
        <a href="/logout" class="btn btn-outline-info ml-1"><i class="fas fa-sign-out-alt"></i></a>
    </nav>
</header>
<main class="flex-grow-1 overflow-auto">
    <div class="col d-flex justify-content-center overflow-auto p-0">
        <div class="tab-content p-2">
            <div class="tab-pane" id="dashboard">
                {% module Template('dashboard_tab.html') %}
            </div>
            <div class="tab-pane show active" id="rawframe">
                {% module Template('rawframe_tab.html') %}
            </div>
            <div class="tab-pane" id="settings">
                {% module Template('settings_tab.html') %}
            </div>
        </div>
    </div>
</main>
<footer class="flex-grow-0 flex-shrink-1 bg-dark text-light">
    <div id="terminal-dragbar" class="row">
        <div class="col"></div>
    </div>
    <div class="row bg-secondary">
        <div id="terminal-container" class="col"></div>
    </div>
    <div class="row">
        <div class="container-fluid d-flex justify-content-between">
            <div class="ml-2"></div>
            <div class="d-flex justify-content-center align-items-center">
                Copyright :)
            </div>
            <div class="d-flex justify-content-end align-items-center mr-2">
                <i id="cli-indicator" class="fas fa-terminal invisible" title="CLI connected"></i>
                <i id="sse-indicator" class="fas fa-plug invisible" title="SSE connected"></i>
            </div>
        </div>
    </div>
</footer>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.serialize-object.min.js"></script>
<!--<script src="static/js/popper.min.js"></script>-->
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/xterm.js"></script>
<script src="static/js/xterm-addon-fit.js"></script>
<script src="https://kit.fontawesome.com/ca82fc5857.js" crossorigin="anonymous"></script>
<script src="static/js/cli.js"></script>
<script src="static/js/rawframe_tab.js"></script>
<script>
    var sse;
    function setupSSE(reconnect_time) {
        var sse_url = window.location.href.split(/\?|#/, 1)[0] + 'events';
        sse = new EventSource(sse_url);

        const Frame = ({priority, type, seqnum, source, destination, dlc, data, origin}) => `<div class="alert alert-info"><strong>${source}</strong> (<strong>${origin}</strong>) -> <strong>${destination}</strong> priority: <strong>${priority}</strong> type: <strong>${type}</strong> seqnum:  <strong>${seqnum}</strong> dlc: <strong>${dlc}</strong> data: <strong>${data.join(' ')}</strong></div>`

        sse.addEventListener("connection", function (e) {
            console.log("sse connection: " + e.data);
            $('#sse-indicator').removeClass('invisible');
        });

        sse.addEventListener("h9frame", function (e) {
            var tmp_json = JSON.parse(e.data);
            console.log('sse h9frame: ' + e.data);
            $('#frame_list').prepend(Frame(tmp_json))
        });

        sse.onerror = function () {
            console.log("sse error");
            $('#sse-indicator').addClass('invisible');
            sse.close();
            window.setTimeout(setupSSE, reconnect_time, reconnect_time*2 > 15000 ? 15000 : reconnect_time*2);
        };
    }
    setupSSE(1000);
</script>
</body>
</html>
