<div class="card-columns">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">Antenna switch</div>
        <div class="col">
          <div id="antenna_switch_tile_device_id" class="float-right">#?</div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="btn-group" role="group" aria-label="Select antenna">
          <button id="antenna-switch-btn1" type="button" class="btn btn-outline-info fast-transition">1</button>
          <button id="antenna-switch-btn2" type="button" class="btn btn-outline-info fast-transition">2</button>
          <button id="antenna-switch-btn3" type="button" class="btn btn-outline-info fast-transition">3</button>
          <button id="antenna-switch-btn4" type="button" class="btn btn-outline-info fast-transition">4</button>
          <button id="antenna-switch-btn5" type="button" class="btn btn-outline-info fast-transition">5</button>
          <button id="antenna-switch-btn6" type="button" class="btn btn-outline-info fast-transition">6</button>
          <button id="antenna-switch-btn7" type="button" class="btn btn-outline-info fast-transition">7</button>
          <button id="antenna-switch-btn8" type="button" class="btn btn-outline-info fast-transition">8</button>
        </div>
      </div>
    </div>
  </div>
</div>
